<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Nastavení</string>
	<key>TitleKey</key>
	<string>title</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slovo dne</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Zobrazovat překlad</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>showTranslationInWordOfTheDay</string>
			<key>Hidden</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Key</key>
			<string>bottomSettingsTextInfo</string>
			<key>PreferenceSpecifiers</key>
			<dict>
				<key>Type</key>
				<string>Custom</string>
				<key>CustomCell</key>
				<string>InfoSettingsCustomCell</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
